@use 'sass:color';
@use 'variables' as v;
@use 'mixins' as m;

.alert {
    padding: .5rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin: 1rem 0;

    @include m.tablet {
        width: 60%;
        margin-left: 20%;
    }

    &__error {
        background-color: #f8aaaa;
        color: #e20101;
        border: solid 3px color.adjust(#e20101, $lightness: +6%);
        border-radius: 1rem;
        text-shadow: v.$darkGray 1px 0.5px;
    }

    &__success {
        background-color: color.adjust(v.$darkGray, $lightness: +8%);
        color: v.$creme;
        border: solid 3px v.$gray;
        border-radius: 1rem;
    }
}