@use 'sass:color';
@use 'variables' as v;
@use 'mixins' as m;

.dark-mode {
    background-color: color.adjust(v.$darkGray, $lightness: -10%);

    p:not(.price) {
        color: v.$white;
    }

    h1,h2,h3,h4  {
        color: v.$gray;
    }

    .creme {
        color: v.$creme;
    }

    .btn-yellow {
        @include m.btn(color.adjust(v.$orange, $lightness: -6%), inline-block);
    }
    
    .btn-yellow-block {
        @include m.btn(color.adjust(v.$orange, $lightness: -6%), block);
    }

    .btn-roof {
        @include m.btn(v.$creme, inline-block);
    }

    .image-contact h2 {
        color: v.$gray;
    }

    img.icon {
        filter: invert(100%);
    }

    .entry-blog {
        margin-bottom: 2rem;
    }

    .testimonial {
        background-color: v.$creme;
    }

    .advertisement, 
    .summary-propad,
    .gray {
        background-color: v.$darkGray;
        border: 1px solid v.$darkGray;

        .price {
            color: v.$creme;
        }

        .icon {
            filter: invert(100%);
        }
    }

    .form fieldset {
        background-color: color.adjust(v.$darkGray, $lightness: -7%);
    }
    
    .text-aboutUs blockquote {
        color: v.$white;
    }

    .info-meta span {
        color: v.$orange;
    }

    .text-entry h4:after {
        background-color: v.$creme;
    }
    
    .form {
        label,
        legend,
        p {
            color: v.$white;
        }

        .pic-small {
            color: v.$white;
        }

        input:not([type="submit"]), 
        textarea,
        select {
            background-color: v.$darkGray;
            border: 1px solid v.$darkGray;
            color: v.$white;
        }
    }

    table.properties {
        thead {
            background-color: color.adjust(v.$darkGray, $lightness: +10%);
            border: 1px solid v.$gray;
        }

        tr:nth-child(2n) {
            background-color: color.adjust(v.$darkGray, $lightness: -8%);
        }

        &:nth-child(2n+1) {
            background-color: color.adjust(v.$darkGray, $lightness: -4%);
        }

        td {
            color: v.$white;
        }
    }
}