@use '../base/variables' as v;

.footer {
    padding: 1.5rem 0 ;
    background-color: v.$grisOscuro;
    margin-bottom: 0;
    
    /*.contenedor-footer {
        padding-top: v.$separacion * 0.5;
    }*/

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
        margin-bottom: 0.8rem;
    }
}
