@use '../base/variables' as v;

.footer {
    padding: 1.5rem 0 ;
    background-color: v.$darkGray;
    margin-bottom: 0;
    
    /*.container-footer {
        padding-top: v.$separation * 0.5;
    }*/

    .navegation {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright {
        color: v.$white;
        text-align: center;
        margin-bottom: 0.8rem;
    }
}