@use '../base/mixins' as m;
@use '../base/variables' as v;

@include m.tablet {
    .iconos-nosotros {
        @include m.grid(3, 2rem);
    }
}

.icono {
    text-align: center;
    img {
        height: 10rem;
        filter: invert(61%) sepia(78%) saturate(331%) hue-rotate(339deg) brightness(103%) contrast(91%);
    }
    h3 {
        text-transform: uppercase;
    }
}
.muestra {
    font-family: FontAwesome;
    font-size: 1.3rem;
}