@use 'sass:color';
@use '../base/variables' as v;
@use '../base/mixins' as m;


@include m.tablet {
    .section-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entry-blog {
    margin-bottom: 2rem;
    
    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    &:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.info-meta {
    span {
        color: v.$creme;
    }
}

.text-entry {
    a {
        color: v.$colorBlack;
        margin-top: 2rem;
        display: block;

        @include m.tablet {
            margin-top: 0;
        }
    }

    h4 {
        margin: 0;
        line-height: 1.4;

        &::after {
            content: '';
            display: block;
            width: 25rem;
            height: .5rem;
            background-color: v.$roof;
            margin-top: 0.6rem;
        }
    }
}

.creme {
    color: v.$orange;
    text-shadow: 0px 0px 1px v.$colorBlack;
}

.gray {
    background-color: color.adjust(v.$gray, $lightness: +9%);
    border-radius: 1rem;
    padding: 1.5rem;
    border-bottom:  0.2rem solid color.adjust(v.$gray, $lightness: +5%);
    margin: 0;
}